/* global variables */
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-background:#f6f6f6;
  --section-padding: 60px;
}
/* end global variables  */

/* global rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
}

.parent {
  background-color: var(--section-background);
}
.container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* mobile  */
@media (max-width: 767px) {
  .container {
    width: 360px;
  }
}
/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* large  */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end global rules  */
/* component elements  */
.special-heading {
  font-size: 100px;
  font-weight: 800;
  text-align: center;
  margin: 0;
  letter-spacing: -3px;
  color: #a1aba440;
}
.special-heading + p {
  font-size: 20px;
  text-align: center;
  margin: -30px 0 0;
  color: #797979;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 80px;
  }
  .special-heading + p {
    margin: -20px;
  }
}
/* end component elements  */

/* header starts here */
.header {
  padding: 20px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 60px;
}
.header .links {
  position: relative;
}
.header .links:hover .icon span:nth-child(2) {
  width: 100%;
}
.header .links .icon {
  width: 30px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.header .links .icon span {
  background-color: #333;
  margin-bottom: 5px;
}
.header .links .icon span:hover {
  width: 100%;
}
.header .links .icon span:first-child {
  width: 100%;
  height: 2px;
}
.header .links .icon span:nth-child(2) {
  width: 60%;
  height: 2px;
  transition: 0.3s;
}
.header .links .icon span:last-child {
  width: 100%;
  height: 2px;
}
.header .links ul {
  background-color: var(--section-background);
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  width: 200px;
  top: calc(100% + 15px);
  display: none;
  z-index: 1;
}

.header .links ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}
.header .links:hover ul {
  display: block;
}
.header .links ul a {
  background-color: transparent;
  text-decoration: none;
  padding: 15px;
  display: block;
  color: #333;
  transition: 0.3s;
}
.header .links ul a:hover {
  color: #53bf9d;
  padding-left: 25px;
}
.header .links ul li:not(:last-child) {
  border-bottom: 1px solid #d3ebcd;
}
/* header ends here  */
/* landing starts here  */
.landing {
  background-image: url(../images/landing.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}
.landing .intro-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: 100%;
}
.landing .intro-text h1 {
  margin: 0;
  font-weight: bold;
  font-size: 50px;
  color: var(--main-color);
}
.landing .intro-text p {
  font-size: 19px;
  line-height: 1.8;
}
/* landing end here  */
/* features starts here  */
.features {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.features .feat {
  padding: 20px;
  text-align: center;
}
.features .feat i {
  font-size: 40px;
  color: var(--main-color);
}
.features .feat h3 {
  font-weight: 800;
  margin: 30px 0;
}
.features .feat p {
  line-height: 1.8;
  color: #777;
  font-size: 17px;
}
/* features ends here  */
/* start services */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 100px;
}
.services .services-content .serv {
  display: flex;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .services .services-content .serv {
    flex-direction: column;
    text-align: center;
  }
}
.services .services-content .serv i {
  font-size: 25px;
  color: var(--main-color);
  flex-basis: 60px;
}
.services .services-content .serv .text {
  flex: 1;
}
.services .services-content .serv h3 {
  margin: 0 0 20px;
}
.services .services-content .serv p {
  font-weight: 300;
  color: #777;
  line-height: 1.8;
}
.services .services-content .image {
  text-align: center;
  position: relative;
}
.services .services-content .image::before {
  content: "";
  background-color: var(--secondary-color);
  width: 100px;
  height: calc(100% + 100px);
  right: 16px;
  top: -50px;
  z-index: -1;
  position: absolute;
}
.services .services-content .image img {
  width: 250px;
}
@media (max-width:1224px){
  .image-disapear{
    display: none;
  }
}
/* end services */
/* portfolio start  */
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.portfolio .portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 80px;
}
.portfolio .portfolio-content .card{
  background-color: #fff;
  
}
.portfolio .portfolio-content .card img{
  max-width: 100%;
}
.portfolio .portfolio-content .card .info{
  padding: 20px;
}
.portfolio .portfolio-content .card .info h3{
  margin: 0;
}
.portfolio .portfolio-content .card .info p{
  line-height: 1.8;
  color: #777;
  margin-bottom: 0;
}
/* portfolio end  */
/* about start  */
.about{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.about .about-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 80px;
}
@media (max-width:994px){
  .about-content{
    flex-direction: column;
    text-align: center;
  }
}
.about .about-content .image{
  width: 250px;
  height: 350px;
  position: relative;
}
@media (max-width:994px){
  .about .about-content .image{
    margin: 0 auto 50px;
  }
}
.about .about-content .image img{
  max-width: 100%;
}
.about .about-content .image::before{
  content: '';
  position: absolute;
  width: 100px;
  height: calc(100% + 80px);
  background-color:rgb(231 234 232);
  top: -40px;
  z-index: -1;
  left: -35px;
}
.about .about-content .image::after{
  content: '';
    width: 120px;
    height: 270px;
    /* background-color: crimson; */
    position: absolute;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    top: -35px;
    right: -150px;
    z-index: -1;
}
@media (max-width:994px){
  .about .about-content .image::before, .about .about-content .image::after{
    display: none;
  }
}
.about .about-content .text{
  flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type{
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;

}
.about .about-content .text hr{
  width: 50%;
  margin-bottom: 20px;
  border-color: var(--main-color);
  display: inline-block;
}
.about .about-content .text p:last-of-type{
  line-height: 1.8;
  color: #777;
}
/* about end */
/* contact start */
.contact{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.contact .info{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
}
.contact .info .lable{
  color: var(--secondary-color);
  font-size: 35px;
  font-weight: 800;
  letter-spacing: -2.5px;
  margin-bottom: 15px;
}
.contact .info .link{
  display: block;
  text-decoration: none;
  color: var(--main-color);
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 15px;
}
@media (max-width:776px){
  .contact .info .lable, .contact .info .link{
    font-size: 20px;
  }
}
.contact .info .social{
  display: flex;
  justify-content: center;
}
.contact .info .social i{
  margin-left: 10px;
  color: var(--secondary-color);
}
/* contact end */
/* footer start  */
.footer{
  background-color: var(--secondary-color);
  color: #fff;
  text-align: center;
  padding: 30px 10px;
  font-size: 18px;
}
.footer span{
  color: var(--main-color);
  font-weight: bold;
}
/* footer end  */
